<h1>Tweets</h1>

<ul class="bullets">
<% @tweets.each do |tweet| %>
<li class="tweet">  <%= tweet.text %> </li>
<% end %>
</ul>

  <script>

  var tweets = document.getElementsByClassName("tweet");
  var worte;
  var tweet;
  for(var i in tweets){
  	tweet = tweets[i].innerHTML.replace(/http:\/\/[^\/]+\/[^\s]+/,'');
  	worte = new SpeechSynthesisUtterance(tweet);
  	worte.lang = "en-UK";
	  window.speechSynthesis.speak(worte);
  }

  </script>